body {
    width: 100%;
    margin: 5px;
}

.table-condensed tr th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #fce2e3;
}

.table-condensed, .table-condensed tr td {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

tr:nth-child(even) {
    background: #f8f7ff;
}

tr:nth-child(odd) {
    background: white;
}

.btn-huge{
    padding-top:40px;
    padding-bottom:40px;
}
